.MethodEntry {
}

.MethodThrowsException {
  color: red
}

.MethodReturns {
  color: green
}

button {
 margin: 2px
}

.Select-control {
  width: 360px;
}

.logHistoryContainer {
  /*height: 600px;*/
  /*overflow: auto; */
}