.MethodEntry {
}

.MethodThrowsException {
  color: red
}

.MethodReturns {
  color: green
}

button {
 margin: 0px;
 width: 92px;
 height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

button:hover {
  background-color: #E3BA6F;
}

.Select-control {
  width: 360px;
}

.logHistoryContainer {
  /*height: 600px;*/
  /*overflow: auto; */
}

.suggestion_classname {
}

.suggestion_method_signature {
}

.suggestion_method_name {
  color: green;
}

.suggestion_method_args_list {
  font-size: 13px;
  font-style: italic;
  color: #333;
}

.suggestion_method_paren {
  font-size: 13px;
  color: #333;
}

.highlight {
  background-color: yellow;
}

.valignTop {
  vertical-align: top;
}

.code {
  margin-top: 5px;
  margin-left: 5px;
  font-family: 'Courier New';
  font-size: 16px;
}

.tooltip .tooltipBelow {
  margin-top: 20px;
}

pre {
    white-space: pre-wrap;
}

input {
  padding: 6px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}


.globalMessage {
  padding: 5px;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  margin-bottom: 10px;
}

.msg_INFO {
  color: green;
}

.msg_ERROR {
  color: red;
}

button.light {
 margin-left: 10px;
 width: 25px;
 height: 25px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-size: 16px;
 border: 1px solid #aaa;
 border-radius: 4px;
}

#searchIcon {
  background-color: transparent;
}
#searchIcon:hover {
  background-color: transparent;
}

