.MethodEntry {
}

.MethodThrowsException {
  color: red
}

.MethodReturns {
  color: green
}

button {
 margin: 2px;
 width: 60px;
 height: 28px;
}

.Select-control {
  width: 360px;
}

.logHistoryContainer {
  /*height: 600px;*/
  /*overflow: auto; */
}

.suggestion_classname {
}

.suggestion_method_signature {
}

.suggestion_method_name {
  color: green;
}

.suggestion_method_args_list {
  font-size: 13px;
  font-style: italic;
  color: #333;
}

.suggestion_method_paren {
  font-size: 13px;
  color: #333;
}

.highlight {
  background-color: yellow;
}