html {
  overflow-y: scroll;
}

body {
  background-color: #F5F5F5;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.jackPlayHeader {
  color: black;
  z-index: 10;
  position: fixed;
  width: 100%;
  padding-bottom: 0px;
  padding-left: 8px;
  background-color: #E3BA6F;
  border-bottom: 3px solid #C69549;
}

button {
  margin: 0px;
  margin-left: 5px;
  width: 92px;
  height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button:hover {
  background-color: gold;
}

.Select-control {
  width: 360px;
}

.suggestion_classname {
  color: black;
}

.suggestion_method_signature {
  color: black;
}

.suggestion_method_name {
  color: green;
}

.suggestion_method_args_list {
  font-size: 13px;
  font-style: italic;
  color: #333;
}

.suggestion_method_paren {
  font-size: 13px;
  color: #333;
}

.highlight {
  background-color: yellow;
}

.valignTop {
  vertical-align: top;
}

.code {
  margin-top: 3px;
  margin-left: 0px;
  font-family: 'Courier New';
  font-size: 16px;
}

.tooltip .tooltipBelow {
  margin-top: 20px;
}

pre {
    white-space: pre-wrap;
}


input[type='text'],input[type='number'] {
  outline: none;
  padding: 6px 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type='text']:focus, input[type='text'].focus, input[type='number']:focus, input[type='number'].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

textarea {
  outline: none;
  border: 1px sodid #aaa;
  border-radius: 4px;
}

textarea:focus, textarea.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.globalMessage {
  padding: 5px;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  margin-bottom: 10px;
}

.msg_INFO {
  color: green;
}

.msg_ERROR {
  color: red;
}

button.light {
 margin-left: 10px;
 width: 25px;
 height: 25px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-size: 16px;
 border: 1px solid #aaa;
 border-radius: 4px;
}

#searchIcon {
  background-color: transparent;
}
#searchIcon:hover {
  background-color: transparent;
}

button.removePlayTarget {
  margin: 0px;
  padding: 0px;
  width: 22px;
  height: 18px;
  color: #aaa;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
}

button.removePlayTarget:hover {
  background-color: #E3BA6F;
  border: 1px solid #aaa;
  color: black;
}

fieldset {
  border:1px solid #666;
  border-radius: 4px;
}

legend {
  padding: 0px;
  border: 0px;
  color: black;
  text-align: center;
  background: #F5F5F5;
}

legend > div > span {
  width: 120px;
  display: inline-block;
  border: 1px solid #aaa;
  border-right: 0px;
  padding: 4px;
  cursor: default;
}
legend > div > span:hover {
  background: #d9d9d9;
  box-shadow: 2px 2px 3px 0px #969696;
}

legend > div > span.currentTabMenu {
  background: #d9d9d9;
  font-weight: bold;
  text-decoration: underline;
}

legend > div > span:last-child {
  border-right: 1px solid #aaa;
}

/*tabs*/
.tabMemu {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.jackPlayTraceLog {
}

.logHistoryContainer {
  position: relative;
  top: 65px;
  width: 100%;
  border-spacing: 0px;
  font-size: 14px;
}

.traceLogRecord td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.traceLogRecord:hover {
  cursor: default;
}

.traceLogOdd {
}

.traceLogEven {
  background-color:  #F5F5DC;
}

.traceLogRecord td {
  vertical-align: top;
}

.traceLogWhen {
  font-size: 13px;
  font-style: italic;
  padding-left: 3px;
}

.traceLogThreadName {
 white-space: nowrap;
 padding-left: 3px;
}

.traceLogIcon {
  width: 18px;
  padding-left: 3px;
}

.traceLogClassFullName {
  padding-left: 3px;
}

.traceLogMethodShortName {
  color: green;
  font-style: italic;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.traceLogElapsedTime {
  font-size: 13px;
  font-style: italic;
  text-align: right;
  padding-right: 5px;
}

.sameUuidHighlight {
  background-color: gold;
}
.sameUuidHighlight.traceLogMethodReturns {
  background-color: gold;
}
.sameUuidHighlight.traceLogMethodThrowsException {
  background-color: gold;
}
.sameUuidHighlight.traceLogMethodEntry {
  background-color: orange;
}

.shadedTraceLog {
  /*opacity: 0.8;*/
  background-color: rgba(0, 0, 0, 0.8);
}
.shadedTraceLog.sameUuidHighlight.traceLogMethodReturns {
  background-color: rgba(0, 0, 0, 0.18);
}
.shadedTraceLog.sameUuidHighlight.traceLogMethodThrowsException {
  background-color: rgba(0, 0, 0, 0.18);
}
.shadedTraceLog.sameUuidHighlight.traceLogMethodEntry {
  background-color: rgba(0, 0, 0, 0.36);
}

tr.broughtToFrontTraceLog > td {
    -moz-box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
}
tr.broughtToFrontTraceLog > td:first-child {
    -moz-box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
}
tr.broughtToFrontTraceLog > td:last-child {
    -moz-box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
}

.broughtToFrontTraceLog {
  background-color: gold;
}
.broughtToFrontTraceLog.traceLogMethodReturns {
  background-color: gold;
}
.broughtToFrontTraceLog.traceLogMethodThrowsException {
  background-color: gold;
}
.broughtToFrontTraceLog.traceLogMethodEntry {
  background-color: orange;
}

.traceLogArgsList {
  white-space: pre-wrap;
}
.traceLogReturnedValue {
  white-space: pre-wrap;
}
.traceLogExceptionStackTrace {
  white-space: pre-wrap;
}

.fontButton {
  cursor: default;
  color: #333  ;
}

.fontButton:hover {
  color: SaddleBrown;
}


.myModalContainerClass {
  width: 690px;
}

.settingsContainer > fieldset  {
  width: 666px;
  max-width:666px;
  padding: 0px;
  padding-top: 5px;
}

.settingsTabContainer {
}
.settingsTab {
  width: 666px;
  max-height: 325px;
  height: 325px;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 5px;
}

.executionCount {
  margin-right: 8px;
  font-size: 15px;
  font-style: italic;
  color: #111;
}

.aboutContainer {
  width: 666px;
  padding: 0px;
  padding-top: 5px;
}
.aboutTitle {
  font-size: 22px;
  text-align: center;
}

.aboutHeadline, .aboutBottomline {
  padding: 8px 6px 6px 8px;
  font-style: italic;
  font-size: 14px;
  text-align: center;
}
.aboutHeadline {
  border-bottom: 1px dotted #333;
}
.aboutBottomline {
  font-size: 12px;
  border-top: 1px dotted #333;
}
ol.aboutList {
  padding-left: 22px;
  margin-top: 6px;
  margin-bottom: 6px;
}

ol.aboutList > li {
  padding-top: 3px;
  padding-bottom: 5px;
}
.aboutPoint {
  font-style: italic;
}
ul.aboutText {
  font-size: 15px;
  padding-left: 18px;
}
ul.aboutText > li {
  padding-top: 2px;
  padding-bottom: 2px;
}