html {
  overflow-y: scroll;
}

body {
  background-color: #F5F5F5;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.jackPlayHeader {
  color: black;
  z-index: 10;
  position: fixed;
  width: 100%;
  padding-bottom: 0px;
  padding-left: 8px;
  background-color: #E3BA6F;
  border-bottom: 3px solid #C69549;
}

button {
  margin: 0px;
  margin-left: 5px;
  width: 92px;
  height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button:hover {
  background-color: gold;
}

.Select-control {
  width: 360px;
}

.suggestion_classname {
  color: black;
}

.suggestion_method_signature {
  color: black;
}

.suggestion_method_name {
  color: green;
}

.suggestion_method_args_list {
  font-size: 13px;
  font-style: italic;
  color: #333;
}

.suggestion_method_paren {
  font-size: 13px;
  color: #333;
}

.highlight {
  background-color: yellow;
}

.valignTop {
  vertical-align: top;
}

.code {
  margin-top: 3px;
  margin-left: 0px;
  font-family: 'Courier New';
  font-size: 16px;
}

.tooltip .tooltipBelow {
  margin-top: 20px;
}

pre {
    white-space: pre-wrap;
}


input[type='text'] {
  outline: none;
  padding: 6px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type='text']:focus, input[type='text'].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

textarea {
  outline: none;
  border: 1px sodid #aaa;
  border-radius: 4px;
}

textarea:focus, textarea.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.globalMessage {
  padding: 5px;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  margin-bottom: 10px;
}

.msg_INFO {
  color: green;
}

.msg_ERROR {
  color: red;
}

button.light {
 margin-left: 10px;
 width: 25px;
 height: 25px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-size: 16px;
 border: 1px solid #aaa;
 border-radius: 4px;
}

#searchIcon {
  background-color: transparent;
}
#searchIcon:hover {
  background-color: transparent;
}

button.removePlayTarget {
  margin: 0px;
  padding: 0px;
  width: 22px;
  height: 18px;
  color: #aaa;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
}

button.removePlayTarget:hover {
  background-color: #E3BA6F;
  border: 1px solid #aaa;
  color: black;
}

fieldset { border:1px solid #666 }

legend {
  padding: 0.2em 0.5em;
  width: 100px;
  border:1px solid #666;
  border-top: 0px;
  border-bottom: 0px;
  color: black;
  font-size:90%;
  text-align: center;
}

.jackPlayTraceLog {
}

.logHistoryContainer {
  position: relative;
  top: 66px;
  width: 100%;
  border-spacing: 0px;
  font-size: 14px;
}

.traceLogRecord td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.traceLogRecord:hover {
  cursor: default;
}

.traceLogOdd {
  background-color: white; /*#FFFAF0;*/
}

.traceLogEven {
  background-color:  #F5F5DC;
}

.traceLogRecord td {
  vertical-align: top;
}

.traceLogWhen {
  font-size: 13px;
  font-style: italic;
  color: #333;
}

.traceLogIcon {
  width: 18px;
}

.traceLogClassFullName {
  text-align: right;
  padding-right: 0px !important;
}

.traceLogMethodShortName {
  color: green;
  font-style: italic;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.traceLogElapsedTime {
  width: 20%;
  font-size: 13px;
  font-style: italic;
  color: #333;
  text-align: right;
  padding-right: 2px;
}

.sameUuidHighlight {
  background-color: #FFD700;
}

.traceLogArgsList {
}
.traceLogReturnedValue {
}
.traceLogExceptionStackTrace {
  white-space: pre;
}

.fontButton {
  color: SaddleBrown  ;
}

.fontButton:hover {
  color: black;
}